body {

}
.wrapper {
    width: 76%;

    margin-right: auto;
    
    margin-left: auto;
}
.wrapper .content {
    float: left;
    background-color: #58ea0c;
    width: 100%;
    padding: 2%;
}
.wrapper h1 {
    margin: 0;

    margin-top: 0px;

    margin-top: 10px;

    text-align: center;

    color: #101098;    
}
.wrapper .icons {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.wrapper .icons .left, .wrapper .icons .right {
    width: 30%;
    text-align: center;
    float: left;
}
.wrapper .icons .center {
    width: 40%;
    text-align: center;
    float: left;
}

.wrapper .icons img{
    width: 170px;

    cursor: pointer;
}
.result {
    float: left;

    width: 100%;
    
    margin-top: 25px;
    
    font-size: 30px;
}
.result .tie, .result .wins, .result .lose{
    
}